# 作業 : (Kaggle)鐵達尼生存預測

# [作業目標]
- 試著完成三種不同特徵類型的三種資料操作, 觀察結果
- 思考一下, 這三種特徵類型, 哪一種應該最複雜/最難處理

# [作業重點]
- 完成剩餘的八種 類型 x 操作組合 (In[6]~In[13], Out[6]~Out[13])
- 思考何種特徵類型, 應該最複雜

In [1]:
# 載入基本套件
import pandas as pd
import numpy as np

# 讀取訓練與測試資料
data_path = 'data/'
df_train = pd.read_csv(data_path + 'titanic_train.csv')
df_test = pd.read_csv(data_path + 'titanic_test.csv')
df_train.shape

(891, 12)

In [2]:
# 重組資料成為訓練 / 預測用格式
train_Y = df_train['Survived']
ids = df_test['PassengerId']
df_train = df_train.drop(['PassengerId', 'Survived'] , axis=1)

df_test = df_test.drop(['PassengerId'] , axis=1)
df = pd.concat([df_test,df_train])
df.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [3]:
# 秀出資料欄位的類型與數量
dtype_df = df.dtypes #㑹以header 為當作
#print(dtype_df)
#Pclass        int64
#Name         object
#Sex          object
#Age         float64
#SibSp         int64
#Parch         int64
#Ticket       object
#Fare        float64
#Cabin        object
#Embarked     object
#dtype: object

dtype_df = df.dtypes.reset_index()

#print(dtype_df)
#
#      index        0
#0    Pclass    int64
#1      Name   object
#2       Sex   object
#3       Age  float64
#4     SibSp    int64
#5     Parch    int64
#6    Ticket   object
#7      Fare  float64
#8     Cabin   object
#9  Embarked   object
#
dtype_df.columns = ["Count", "Column Type"]

dtype_df = dtype_df.groupby("Column Type").aggregate('count').reset_index()

dtype_df

  Column Type  Count
0       int64      3
1     float64      2
2      object      5

In [4]:
#確定只有 int64, float64, object 三種類型後, 分別將欄位名稱存於三個 list 中
int_features = []
float_features = []
object_features = []
for dtype, feature in zip(df.dtypes, df.columns):
    if dtype == 'float64':
        float_features.append(feature)
    elif dtype == 'int64':
        int_features.append(feature)
    else:
        object_features.append(feature)
print(f'{len(int_features)} Integer Features : {int_features}\n')
print(f'{len(float_features)} Float Features : {float_features}\n')
print(f'{len(object_features)} Object Features : {object_features}')

3 Integer Features : ['Pclass', 'SibSp', 'Parch']

2 Float Features : ['Age', 'Fare']

5 Object Features : ['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked']

# 作業1 
* 試著執行作業程式，觀察三種類型 (int / float / object) 的欄位分別進行( 平均 mean / 最大值 Max / 相異值 nunique )  
中的九次操作會有那些問題? 並試著解釋那些發生Error的程式區塊的原因?  

# 作業2
* 思考一下，試著舉出今天五種類型以外的一種或多種資料類型，你舉出的新類型是否可以歸在三大類中的某些大類?  
所以三大類特徵中，哪一大類處理起來應該最複雜?

In [5]:
# 例 : 整數 (int) 特徵取平均 (mean)
df[int_features].mean()

Pclass    2.294882
SibSp     0.498854
Parch     0.385027
dtype: float64

In [6]:
# 請依序列出 三種特徵類型 (int / float / object) x 三種方法 (平均 mean / 最大值 Max / 相異值 nunique) 的其餘操作

print("====================\n")
print("int mean\n", df[int_features].mean())
print("float mean\n", df[float_features].mean())
print("object_features max\n", df[object_features].mean())
print("====================\n")
print("int max\n", df[int_features].max())
print("float max\n", df[float_features].max())
print("object_features max\n", df[object_features].max())
print("====================\n")
print("int nunique\n", df[int_features].nunique())
print("float nunique\n", df[float_features].nunique())
print("object_features nunique\n", df[object_features].nunique())

====================

int mean
 Pclass    2.294882
SibSp     0.498854
Parch     0.385027
dtype: float64
float mean
 Age     29.881138
Fare    33.295479
dtype: float64
object_features max
 Series([], dtype: float64)
====================

int max
 Pclass    3
SibSp     8
Parch     9
dtype: int64
float max
 Age      80.0000
Fare    512.3292
dtype: float64
object_features max
 Name      van Melkebeke, Mr. Philemon
Sex                              male
Ticket                      WE/P 5735
dtype: object
====================

int nunique
 Pclass    3
SibSp     7
Parch     8
dtype: int64
float nunique
 Age      98
Fare    281
dtype: int64
object_features nunique
 Name        1307
Sex            2
Ticket       929
Cabin        186
Embarked       3
dtype: int64

試著執行作業程式，觀察三種類型 (int / float / object) 的欄位分別進行( 平均 mean / 最大值 Max / 相異值 nunique )
中的九次操作會有那些問題? 並試著解釋那些發生Error的程式區塊的原因?

object 型態 沒有mean／max

作業2
思考一下，試著舉出今天五種類型以外的一種或多種資料類型，你舉出的新類型是否可以歸在三大類中的某些大類?
所以三大類特徵中，哪一大類處理起來應該最複雜?

- 週期性最複雜